<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title> contacts // add </title>
    </head>

    <body>
        <div class="container">

                  <h2> contact // entry </h2>

                  <h3> contact // name </h3>
                  <h4> {{ new_contact.getName }} </h4>
<!--
                  <h3>contact // phone</h3>
                  <h4> {{ contact.getPhone}} </h4>

                  <h3>contact // email</h3>
                  <h4> {{ new_contact.getEmail }} </h4> -->

                  <form action="/">
                      <button type="submit" class="btn btn-success"> contacts // </button>
                  </form>

        </div>
    </body>
</html>
