<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="/../css/styles.css" rel="stylesheet" type="text/css">
        <title>contacts > home</title>
    </head>

    <body>
        <div class="container">
            <h3>contacts // directory</h3>

                    {% if contacts is not empty %}
                    <h4>As follows:</h4>

                        <ul>
                            {% for contact in contacts %}

                                <ul>
                                    <strong><li>name >>{{contact.getContactName}}</li></strong>
                                    <li>number >>{{contact.getContactPhone}}</li>
                                    <li>email >>{{contact.getContactEmail}}</li>
                                </ul>

                            {% endfor %}
                        </ul>

                    {% endif %}

                    <form action='/contacts_add' method='post'>

                        <div class="form-group">
                            <label for="contact_name"> contact : name </label>
                            <input id="contact_name" name="contact_name" type="text" class="form-control" placeholder="n a m e" required>
                        </div>

                        <div class="form-group">
                            <label for="contact_phone"> contact : number </label>
                            <input id="contact_phone" name="contact_phone" maxlength="11" type="number" class="form-control" placeholder="p h o n e" required>
                        </div>

                        <div class="form-group">
                            <label for="contact_email"> contact : email </label>
                            <input id="contact_email" name="contact_email" type="text" class="form-control" placeholder="e m a i l" required>
                        </div>

                        <button type='submit' class="btn btn-success" id="saveButton">contact > log//entry</button>
                    </form>

                    <form action="/contacts_delete" method="post" id="clearButton">
                        <button type="submit" class="btn btn-danger">contact > clear//all</button>
                    </form>
        </div>
    </body>
</html>
