<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>contacts > add</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-10">

<!-- //-----:: contact : user input::--------------------------------------> -->

                  <h3> contact // entry </h3>

                  <h5> contact // name </h5>
                  <h6> {{ new_contact.name }} </h6>

                  <h5>contact // phone</h5>
                  <h6> {{ new_contact.phone}} </h6>

                  <h5>contact // email</h5>
                  <h6> {{ new_contact.email }} </h6>

<!-- //-----:: contact : submit form ::------------------------------------> -->



                  <form action="/" method="get">
                      <button type="submit" class="btn btn-success">back</button>
                  </form>

                </div>
            </div>
        </div>
    </body>
</html>
